@page "/"
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<h3>My Calendar</h3>

<input bind-value="@myProperty" />

@* <RadzenCalendar @bind-value="@selectedDate" Min="@(DateTime.Today.AddDays(-7))" Max="@(DateTime.Today.AddDays(7))" /> *@

<RadzenCalendar bind-Value="selectedDate" />
<p>Selected Date: @selectedDate.ToShortDateString()</p>

<input bind-value="@myVariable" bind-value:event="oninput" />




@* 
<p>Selected Date: @(selectedDate.HasValue ? selectedDate.Value.ToString("MMMM dd, yyyy") : "None")</p>
 *@
@code {
    private DateTime selectedDate = DateTime.Today;
    private string myProperty = "testing ...";
    private string myVariable = "testing 1..2..3..";

    private void OnDateChanged(DateTime? newDate)
    {
        // selectedDate = newDate;
        // Console.WriteLine($"Date changed to: {newDate}");
    }
}


